@import './../../../styles.scss';

.fruit-box{
    @include dFlex();
    background-color: white;
    margin: 16px 0px 16px 0px;
    padding: 12px 12px 12px 12px;
    width: 480px;
    border: solid 1px lightgray;
    border-radius: 10px;

    .name-box{
        width: 100%;
        .fruit-name{
            font-size: 48px;
            background-color: $fruit_blue;
            color: white;
            padding: 4px 12px 4px 12px;
            border-radius: 10px;
        }
        .nerd-name{
            margin: 8px 24px 0px 24px;
        }
    }

    .card-header{
        @include dFlex($fd: row);
        width: 100%;

        .img-box{
            width: 100%;
            .fruit-img{
                width: 172px;
            }
        }

        .rating-section{
            width: 75%;

            .rating{
                @include dFlex($fd: row);

                .rating-txt{
                    margin: 0px 4px 0px 4px;
                }
            }

            .stars{
                width: 28px;
            }
        }
    }

    .fruit-info-box{
        .info-fruit{
            @include dShaodow();
            border: 1px solid lightgray;
            padding: 8px 4px 8px 4px;
            margin: 12px 8px 12px 8px;
            border-radius: 10px;
        }

        .info-plant{
            @include dShaodow();
            border: 1px solid lightgray;
            padding: 8px 4px 8px 4px;
            margin: 12px 8px 12px 8px;
            border-radius: 10px;
        }
    }

    .review-section{
        width: 480px;
        height: 180px;
        background-color: $fruit_grey;
        border-radius: 10px;
        box-shadow: inset 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
        overflow: auto;
    
        .review{
            margin: 24px 12px 24px 12px;
        }
    
        .review-empty{
            width: 100%;
            height: 100%;
            @include dFlex();
            font-size: 24px;
            color: $fruit_blue;
        }
    }

    .input-section{
        margin: 12px 0px 12px 0px;
        width: 100%;
        @include dFlex($fd: row);

        textarea{
            height: 148px;
            width: 70%;
            margin: 0px 12px 0px 12px;
            padding: 12px 12px 12px 12px;
            border: solid 1px lightgray;
            border-radius: 10px;
            box-shadow: 0px 14px 14px -10px rgba(0, 0, 0, 0.87);
            -webkit-box-shadow: 0px 14px 14px -10px rgba(0, 0, 0, 0.87);
            -moz-box-shadow: 0px 14px 14px -10px rgba(0, 0, 0, 0.87);
            font-size: 18px;
            outline: none;
        }

        .send-btn{
            @include dFlex();
            background-color: $fruit_blue;
            border-radius: 10px;
            box-shadow: 0px 14px 14px -10px rgba(0, 0, 0, 0.87);
            -webkit-box-shadow: 0px 14px 14px -10px rgba(0, 0, 0, 0.87);
            -moz-box-shadow: 0px 14px 14px -10px rgba(0, 0, 0, 0.87);

            &:hover{
                background-color: $fruit_ligthblue;
                cursor: pointer;
            }

            .send-img{
                width: 48px;
                margin: 12px 12px 12px 12px;
            }
        }
    }
}

.colorGood{
    color: $fruit_blue;
}

.colorBad{
    color: rgb(240, 109, 109);
}

.bgBox{
    background-color: $fruit_grey;
    border-radius: 10px;
}

@media screen and (max-width: 615px) {

    .fruit-box{
      width: 315px;

      .rating-section{

        .stars-section{
            .stars{
                width: 18px;
            }
        }
      }
  
      .review-section{
        width: 300px;
      }
    }
    
  }
  


